<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>

    <title style="font-family: dana !important;">کمپین مبارزه با سرقت علمی</title>
    <meta name="description" content="کمپین ابطال مدرک بذرپاش
نامه اساتید، دانشجویان و دانش آموختگان خطاب به وزیر علوم در اعتراض به سرقت علمی در پایان نامه مهرداد بذرپاش و درخواست ابطال مدرک">

    <meta property="og:image" content="https://www.iran-antiplagiarism.com/static/web/images/logo_preview.jpg">
    <meta property="og:url" content="https://www.iran-antiplagiarism.com">
    <meta property="og:title" content="کمپین مبارزه با سرقت علمی">
    <meta property="og:description" content="کمپین ابطال مدرک بذرپاش
نامه اساتید، دانشجویان و دانش آموختگان خطاب به وزیر علوم در اعتراض به سرقت علمی در پایان نامه مهرداد بذرپاش و درخواست ابطال مدرک">
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Iran-antiplagiarism">

    <meta charset="UTF-8">
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="تخلف علمی;تقلب علمی;جعل مدرک;پایان نامه;تقلب بذرپاش;جعل مدرک بذرپاش;مهرداد بذرپاش;تقلب علمی بذرپاش;تقلب علمی مهرداد بذرپاش;مهرداد بذرپاش تقلب;مهرداد بذرپاش کپی;بذرپاش کپی; مهرداد بذرپاش تقلب علمی;مدرک جعلی;جعل مدرک بذرپاش;مهرداد بذر پاش;Mehrdad Bazrpash;Bazrpash plaigiarism;" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'web/images/logo.png' %}" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

	<!-- css files -->
    <link href="{% static 'web/css/bootstrap.css' %}" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/style.css' %}"><!-- custom css -->
	<!-- <link href="css/css_slider.css" type="text/css" rel="stylesheet" media="all"> -->
    <link href="{% static 'web/css/font-awesome.min.css' %}" rel="stylesheet"><!-- fontawesome css -->
    <link href="{% static 'web/css/fontiran.css' %}" rel="stylesheet">
	<!-- //css files -->

	<!-- google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<!-- //google fonts -->

</head>
<body>

    <!-- header -->
    <header style="background-color: black">
        <div class="container" >
            <!-- nav -->
            <nav class="py-3 d-lg-flex">
                <div id="logo" style="display: none">
                    <h1> <a href="/">مهرداد بذرپاش</a></h1>
                </div>
                <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
                <input type="checkbox" id="drop" />
                <ul class="menu ml-auto ml-12">
                    <a href="{% static 'web/documents/document.pdf' %}" target="_blank" style="font-size: 24px; font-family: dana !important;">اسناد تقلب علمی</a>
                </ul>
                <ul class="menu ml-2" align="rtl">
                    <a href="/" style="font-size: 24px;font-family: dana !important;">صفحه اصلی</a>
                </ul>

            </nav>
            <!-- //nav -->
        </div>
    </header>
    <!-- //header -->

    <div class="container py-lg-5 rtl" >
        <br><br><br><br>
        <h2 class="heading mb-sm-1 mb-1" style="font-size:30px;">لیست 1000 امضا کننده اول نامه</h2>
    </div>

    <!-- what we Serve -->
    <section class="banner-bottom rtl" >
        <div class="container " style="margin-top: 0px">


            <ul class="nav nav-tabs rtl" id="myStatTab" role="tablist" style="font-size:25px">

                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="student-stat-tab" data-toggle="tab" href="#student-stat"
                        role="tab" aria-controls="student" aria-selected="true" style="font-family: dana !important;">اعضای هیات علمی و پژوهشگران</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="teacher-stat-tab" data-toggle="tab" href="#teacher-stat"
                        role="tab" aria-controls="teacher" aria-selected="false" style="font-family: dana !important;">دانشجویان و دانش آموختگان</a>
                </li>

            </ul>

            <div class="tab-content" id="myStatTabContent">
                <div class="tab-pane fade show active" id="student-stat" role="tabpanel"
                     aria-labelledby="student-stat-tab"><br>

                    <div class="row bottom-grids " style="
                                                      border: 1px solid #333;
                                                      box-shadow: 8px 8px 5px #444;
                                                      padding: 40px 20px">
                        <div class="col-md-12 col-sm-12 ">
                            <h2 class=" mb-sm-5 mb-4" style="font-size:24px;">اسامی اعضای هیات علمی و پژوهشگران امضاکننده نامه</h2>
                            <p>
                                {% for scholar in scholars_list %}
                                    {{ scholar }}<br>
                                {% endfor %}
                            </p>

                        <p>
                            عده ای از اساتید و پژوهشگران تمایل به انتشار نامشان نداشتند. لذا نام و نام خانوادگی آن ها حذف شده است.
                        </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="teacher-stat" role="tabpanel"
                     aria-labelledby="teacher-stat-tab"><br>

                    <div class="row bottom-grids" style="
                                                      border: 1px solid #333;
                                                      box-shadow: 8px 8px 5px #444;
                                                      padding: 40px 20px;">
                        <div class="col-md-12 col-sm-12">
                        <h2 class=" mb-sm-5 mb-4" style="font-size:24px;">اسامی دانشجویان و دانش آموختگان امضاکننده نامه</h2>


                            <p>
                                {% for student in students_list %}
                                    {{ student }}<br>
                                {% endfor %}
                            </p>
                        
                        <p>
                            عده ای از دانشجویان و دانش آموختگان تمایل به انتشار نامشان نداشتند. لذا نام و نام خانوادگی آن ها حذف شده است.
                        </p>
                    </div>
                </div>

                </div>
            </div>
        </div>
    </section>
    <!-- //what we Serve -->

    <!-- footer -->
    <footer>
        <div class="footer-layer py-sm-5 pt-5 pb-3">
            <div class="container py-md-1">
                <div class="footer-grid_section text-center">
                    <div class="footer-title mb-3">
                        <a href="#" style="font-family: dana !important;">تماس با ما</a>
                    </div>
                    <div class="footer-text">
                        <p>در صورت مواجهه با مشکل در عضویت کمپین، با ایمیل یا حساب تلگرامی زیر در ارتباط باشید</p>
                    </div>
                    <ul class="social_section_1info">
                        <li class="mb-2 facebook"><a href="http://t.me/antiplagiarism_contact"><span class="fa fa-send"></span></a></li>
                        <li class="envelope"><a href="mailto:contact@iran-antiplagiarism.com"><span class="fa fa-envelope"></span></a></li>

                    </ul>
                    <div class="footer-text">
                        <p>کمپین ما را در کانال تلگرامی زیر دنبال کنید</p>
                        <span class="mb-2 facebook"><a href="http://t.me/iran_antiplagiarism"><span class="fa fa-telegram"></span></a></span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->

    <!-- copyright -->
    <section class="copyright">
        <div class="container py-4">
            <div class="row bottom">
                <ul class="col-lg-6 links p-0">

                </ul>
                <div class="col-lg-6 copy-right p-0">

                </div>
            </div>
        </div>
    </section>
    <!-- //copyright -->

    <!-- move top -->
    <div class="move-top text-right">
        <a href="#home" class="move-top">
            <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
        </a>
    </div>
    <!-- move top -->

    <!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"-->
		<!--integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"-->
		<!--crossorigin="anonymous"></script>-->
    <script src="{% static 'web/js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Lcpj7wZAAAAAH0hOJepVdUwZra-gN73OOfy5JO6"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>

    <script>
    $('#student-submit-form').submit(function(e){
        var form = this;
        e.preventDefault();
        grecaptcha.ready(function() {
            grecaptcha.execute('6Lcpj7wZAAAAAH0hOJepVdUwZra-gN73OOfy5JO6', {action: 'studentsubmit'}).then(function(token) {
                $('#student-recaptcha').val(token);
                form.submit();
            });
        })
    });
    </script>

    <script>
    $('#teacher-submit-form').submit(function(e){
        var form = this;
        e.preventDefault();
        grecaptcha.ready(function() {
            grecaptcha.execute('6Lcpj7wZAAAAAH0hOJepVdUwZra-gN73OOfy5JO6', {action: 'teachersubmit'}).then(function(token) {
                $('#teacher-recaptcha').val(token);
                form.submit();
            });
        })
    });
    </script>

</body>
</html>
